{% extends "layout.html" %}

{% block content %}
<div class="emptyspace"></div>

<div class="row">
  <div class="col-xs-12 text-center"><h3>Results</h3></div>
</div>
<br>
<div class="row">
  <center>
    Lifetime Trips: {{ data.lifetime_trips }}
    <br>
    Lifetime Spend: {{ "${:,.2f}".format(data.lifetime_spend) }}
    <br>
    Average Wait Time: {{ data.avg_wait }}
    <br>
    {{data.concat|safe}}
  </center>
</div>
{% endblock %}

{% block addScripts %}
<script type="text/javascript">
</script>
{% endblock %}
