{% extends "layout.html" %}

{% block content %}
<div class="emptyspace"></div>

<div class="row">
  <div class="col-xs-12 text-center"><h3>Results</h3></div>
</div>
<br>
<div class="row">
  <center>
    <div>Lifetime Trips: <span id="lifetime_trips"></span></div>
    <br>
    <div>Lifetime Spend: <span id="lifetime_spend"></span></div>
    <br>
    Average Wait Time: {{ data.avg_wait }}
    <br>
    <!-- {{data.concat|safe}} -->
  </center>
</div>
{% endblock %}

{% block addScripts %}
<script src="../static/js/countUp.min.js" type="module"></script>
<script type="text/javascript">
  var spend = {{ data.lifetime_spend }};
  var trips = {{ data.lifetime_trips }};
</script>
<script src="../static/js/main.js" type="module"></script>
{% endblock %}
