{% extends "layout.html" %}

{% block content %}
<div class="lineone">Welcome to </div>
<div class="linetwo">Uber Analytics Wrapped</div>
<div class="linethree">Upload Your Data</div>
<div class="linefour">To Get Started</div>
<form method="post" action="/" enctype="multipart/form-data">
  <div class="wrapper">
    <input type="file" id="file" name="tripData"/>
    <label for="file" /> choose a file </label>
  </div>
  <button type="submit">show me the money</button>
</form>
{% endblock %}

{% block addScripts %}
{% endblock %}
