{% extends "layout.html" %}

{% block content %}
<div class="lineone">Welcome to </div>
<div class="linetwo">Uber Analytics Wrapped</div>
<div class="linethree">Upload Your Data</div>
<div class="linefour">To Get Started</div>
<form method="post" action="/uploader" enctype="multipart/form-data">
  <div class="upload-btn-wrapper">
    <button class="btn">Upload</button>
    <input type="file" name="tripData" />
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}

{% block addScripts %}
{% endblock %}
