<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Uber Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Track your orders from Royal Circuits">
    {% block headstyle %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>
    {% block addScripts %}
    {% endblock %}
  </body>
</html>
